.busDetails {
  position: relative;
  width: calc(100% - 30px);
  margin-inline: 15px;
  height: 350px;
  background-color: #FEFEFE;
  opacity: 0;
  pointer-events: none;
  max-height: 0;
  transition: max-height 0.3s ease-in-out, opacity 0.2s ease-in-out 0.4s;
  overflow: hidden;
}

.busDetails.show {
  opacity: 1;
  pointer-events: all;
  max-height: 400px;
  transition: max-height 0.4s ease-in-out, opacity 0.2s ease-in-out 0s;
}

.busDetails .cover {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  width: 100%;
  height: 250px;
  top: 0;
  z-index: 1;
  opacity: 0;
  transition: background-color 0.35s 0.1s, opacity 0.35s 0.1s;
}

.busDetails .cover:hover {
  transition: background-color 0.3s, opacity 0.3s;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
}

.busDetails .cover button:active {
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2) inset;
}

.busDetails .cover .transparentBuy {
  background-color: transparent;
  padding: 15px 75px;
  border: 2px solid white;
  border-radius: 15px;
  font-size: 28px;
}

.busDetails .cover .backButton {
  padding: 10px 25px;
  background-color: transparent;
  font-size: 18px;
}

.busDetails .errorCover {
  gap: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  height: 330px;
}


.busDetails .errorCover .retryButton {
  background-color: transparent;
  padding: 5px 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  border: 2px solid white;
  border-radius: 15px;
  font-size: 18px;
}
.busDetails .errorCover .retryButton i {
  font-size: 16px;
  margin-right: 8px;
}

.busDetails .errorCover h1{
  color: white;
  font-size: 28px;
}

.busDetails .errorCover i {
  color: white;
  font-size: 35px;
}

.dividerLine {
  transform: translateY(8px);
  height: 1px;
  width: 98%;
  margin: auto;
  background-color: #EAEAEA;
}

.busInformation {
  margin: 20px 10px;
  margin-right: 20px;
  width: 60%;
  float: left;
}

.legend div {
  display: flex;
  align-items: center;
  gap: 4px;
}

.legend {
  width: 90%;
  margin: 5px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  color: #AAA;
  justify-content: space-between;
}


.busDetails .greenBuy {
  position: absolute;
  bottom: calc(100% - 320px);
  left: 0;
  padding: 10px 55px;
  font-size: 24px;
  background-color: #2ecc71;
}

.busDetails .greenBuy:hover {
  background-color: #22b25e;
}

