.busDetails {
  position: relative;
  width: calc(100% - 50px);
  margin-inline: 25px;
  height: 350px;
  background-color: #FEFEFE;
  opacity: 0;
  pointer-events: none;
  max-height: 0;
  transition: max-height 0.5s ease-in-out, opacity 0.3s ease-in-out 0.5s;
  overflow: hidden;
}

.busDetails.show {
  opacity: 1;
  max-height: 400px;
  transition: max-height 0.5s ease-in-out, opacity 0.2s ease-in-out 0s;
}

.dividerLine {
  height: 1px;
  width: 100%;
  background-color: #EAEAEA;
}

.busInformation {
  margin: 15px;
  margin-right: 0;
  width: 62%;
  float: left;
}

.legend div {
  display: flex;
  align-items: center;
  gap: 4px;
}

.legend {
  width: 90%;
  margin: 5px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  color: #AAA;
  justify-content: space-between;
}


.busDetails button {
  position: absolute;
  bottom: calc(100% - 320px);
  left: 0;
  overflow: hidden;
  padding: 10px 55px;
  font-size: 24px;
  text-wrap: nowrap;
  background-color: #2ecc71;
  border: none;
  border-radius: 8px; 
  color: white;
  font-family: 'IRANSansWeb', sans-serif;
  transition: 0.4s;
  cursor: pointer;
}

.busDetails button:hover {
  background-color: #2980b9;
}