.logo {
  width: 80px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.quarterCircle {
  position: absolute;
  top: calc(40% - 68px);
  left: calc(50% - 72px);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  /* border: 1px solid transparent; */
  border-top: 3px solid #3498db;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 1.25s;

}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}