.service {
  direction: rtl;
  width: 75%;
  margin: auto;
}

.service h1 {
  font-size: 14px;
  color: #333;
  margin: 20px 0 25px;
}

.no-service-alert {
  margin: 60px 0 180px 0;
  font-size: 18px;
  direction: rtl;
  color: #555;
  line-height: 55px;
  text-align: center;
}

.dummyText {
  width: 50%;
  height: 15px;
  margin: 25px 25% 5px 25%;
  border-radius: 20px;
  background-color: #EEE;
}

@media (max-width: 1200px) {
  .service {
    width: 90%;
  }
}

@media (max-width: 1024px) {
  .service {
    width: 95%
  }
}

@media (max-width: 900px) {
  .service {
    width: 98%
  }
}